

.face-snap-card {
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    padding: 3%;
    background-color: rgb(241, 240, 240);
    border-radius: 25px;
    margin-bottom: 5%;
    width: 35%;
    img {
        border-radius: 25px;
        width: 100%;
    }
  }

  p {
    margin: 10px;
    font-size: 14px;
  }

  .snapped {
    background-color: rgb(13 255 175 / 10%);;
    color:  rgb(2, 32, 23);;
    button {
      box-shadow: #5fffca 3px 3px 7px;
      color: rgb(2, 32, 23);;
      &:active {
        box-shadow: #5fffca, 0 0 5px;
      }
    }
  }

  .back-link {
    margin: 10px;
  }

  body > app-root > app-single-face-snap > div > a {
    font-weight: bolder;
  }