.face-snap-card {

    padding: 3%;
    background-color: rgb(241, 240, 240);
    border-radius: 25px;
    margin-bottom: 5%;
    width: 35%;
    img {
        border-radius: 25px;
        width: 100%;
    }
  }
